/* Reset style */

img{
    max-width: 100%;
}
*{
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

/* common button */
.common-btn{
    cursor: pointer;
    background-color: #fd6e0f;
    padding: 10px 20px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 22px;
    color: #eee9e9;
    border: none;   
}

.outline-btn{
    cursor: pointer;
    background-color: white;
    padding: 10px 20px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 22px;
    color: #fd6e0f;
    border: 1px solid #fd6e0f;  
    margin-left: 10px;
}

button:hover{
    background-color: rgb(9, 84, 84);
}

header{
      background-color: #eee9e9;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
}

.container{
    max-width: 1200px;
    margin: auto;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 10px;
    align-items: center;
}

ul li a{
    text-decoration: none;
}

.logo{
    font-weight: bold;
    font-size: 32px;
    font-family: ;
}

.logo-r{
    color: rgb(233, 158, 61);
    
}

/* hero section start */

.hero-parent-root{
      background-color: #ede2da;
}

.hero-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-left-p-1{
    font-weight: 600;
    font-size: 25px;
}

.hero-left h2{
    font-weight: bold;
    font-size: 40px;
}
.hero-left-p-2{
    font-size: 20px;
    margin-bottom: 12px;
}

.hero-left-btn-parent{
    margin-top: 12px;
}

/* about section */

.about-parent{
    background-color: #efd4c2;
    margin: 50px auto;
    /* but second value auto as per video */
    border-radius: 7px;
    padding: 75px;
    text-align: center;
}

.xxx{
    margin: 20px auto;
}

.about-box-parent{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}

.about-box-parent .box{
    background-color: rgb(224, 235, 235);
    padding: 4px 4px;
    border-radius: 7px;
}

.what-i-do-parent{
    margin: 60px auto;
    text-align: center;
}

.what-i-do-card-container{
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.what-i-do-card-container .what-i-do-card{
    border: 2px solid #fd6e0f;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
}

.what-i-do-card-container .what-i-do-card h2{
    margin: 10px auto;
}

.what-i-do-card-container .what-i-do-card p{
    color: #757575;
    font-size: 17px;
}

