/* Reset style */

img{
    max-width: 100%;
}
*{
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

/* common button */
.common-btn{
    cursor: pointer;
    background-color: #fd6e0f;
    padding: 10px 20px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 22px;
    color: #eee9e9;
    border: none;   
}

.outline-btn{
    cursor: pointer;
    background-color: white;
    padding: 10px 20px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 22px;
    color: #fd6e0f;
    border: 1px solid #fd6e0f;  
    margin-left: 10px;
}

button:hover{
    background-color: rgb(9, 84, 84);
}

header{
      background-color: #eee9e9;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
}

.container{
    max-width: 1200px;
    margin: auto;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 10px;
    align-items: center;
}

ul li a{
    text-decoration: none;
}

.logo{
    font-weight: bold;
    font-size: 32px;
    font-family: ;
}

.logo-r{
    color: rgb(233, 158, 61);
    
}

/* hero section start */

.hero-parent-root{
      background-color: #ede2da;
}

.hero-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-left-p-1{
    font-weight: 600;
    font-size: 25px;
}

.hero-left h2{
    font-weight: bold;
    font-size: 40px;
}
.hero-left-p-2{
    font-size: 20px;
    margin-bottom: 12px;
}

.hero-left-btn-parent{
    margin-top: 12px;
}